# GLOBAL ORBIT MAIL — Environment Template

NEXT_PUBLIC_APP_NAME="GLOBAL ORBIT MAIL"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_USER_PORTAL_URL="https://webmail.theglobalorbit.com"
NEXT_PUBLIC_ADMIN_PORTAL_URL="https://admin.theglobalorbit.com"
NEXT_PUBLIC_COMPANY_NAME="GLOBAL ORBIT PVT. LTD."

DATABASE_URL="postgresql://user:password@localhost:5432/global_orbit_mail?schema=public"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
NEXT_PUBLIC_ENABLE_DARK_MODE="true"
